apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "backstage.name" . }}-config
data:
  POSTGRES_PORT: {{ .Values.postgres.port | quote}}
  POSTGRES_HOST: {{ .Values.postgres.host }}
  CATALOG_LOCATION: {{ default .Values.catalog.demoCatalogLocation .Values.catalog.catalogLocation }}
  CUSTOM_CATALOG_LOCATION: {{ .Values.catalog.customCatalogLocation }}
  BASE_URL: {{ .Values.backstage.baseURL }}
