extends: default

ignore: |
  .git/
  .terraform/
  .venv/
  build/
  dist/
  apps/
  modules/**/templates/
  node_modules/
  vendor/

rules:
  document-start: disable
  truthy:
    allowed-values: ["true", "false", "on", "off", "yes", "no"]
  line-length: disable
