extends: default

ignore: |
  **/templates/*.yaml
  **/templates/*.yml
  gitops/helm/*/templates/*.yaml
  modules/*/bootstrap-chart/templates/*.yaml

rules:
  line-length: disable
  truthy: disable
  comments-indentation: disable
  document-start: disable
