# Managed by scripts/standardize_metadata.py
proxy:
  service:
    type: LoadBalancer
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-type: nlb
      service.beta.kubernetes.io/aws-load-balancer-scheme: internal
      external-dns.alpha.kubernetes.io/hostname: "*.test.goldenpathidp.io"
governance:
  id: HELM_KONG_METADATA
  owner: null
  risk_profile: null
  reliability: null
