# Managed by scripts/standardize_metadata.py
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: '{{ .Values.appName }}-default'
  namespace: '{{ .Values.namespace }}'
  annotations:
    goldenpath.idp/id: APPS_TEMPLATES_METADATA
    goldenpath.idp/owner: None
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: '{{ .Values.appName }}'
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kong-system
      ports:
        - protocol: TCP
          port: '{{ .Values.servicePort }}'
  egress:
    - to:
        - namespaceSelector: {}
      ports:
        - protocol: TCP
          port: 53
        - protocol: UDP
          port: 53
