apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: fluent-bit
  namespace: monitoring
spec:
  releaseName: fluent-bit
  chart:
    spec:
      chart: fluent-bit
      version: "0.47.0"
      sourceRef:
        kind: HelmRepository
        name: fluent
        namespace: flux-system
  interval: 10m
  values:
    serviceAccount:
      create: true
    backend:
      type: loki
      loki:
        host: http://loki-stack:3100
