apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: backstage
  namespace: backstage
spec:
  releaseName: backstage
  chart:
    spec:
      chart: backstage
      version: "1.24.1"
      sourceRef:
        kind: HelmRepository
        name: backstage
        namespace: flux-system
  interval: 10m
  values:
    image:
      repository: backstage/backstage
      tag: latest
    service:
      type: ClusterIP
    postgresql:
      enabled: true


