apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: loki-stack
  namespace: loki
spec:
  releaseName: loki-stack
  chart:
    spec:
      chart: loki-stack
      version: "2.9.11"
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  interval: 10m
  values:
    grafana:
      enabled: false
    loki:
      persistence:
        enabled: false
    promtail:
      enabled: true
