apiVersion: v1
kind: ResourceQuota
metadata:
  name: "wordpress-efs-quota"
  namespace: "apps-wordpress-efs"
spec:
  hard:
    requests.cpu: "1"
    requests.memory: "1Gi"
    limits.cpu: "2"
    limits.memory: "2Gi"
    requests.storage: "50Gi"
