# Managed by scripts/standardize_metadata.py
# Keycloak Helm Values - Staging Environment

# -----------------------------------------------------------------------------
# Ingress Configuration - Kong
# -----------------------------------------------------------------------------
ingress:
  enabled: true
  ingressClassName: kong
  hostname: keycloak.staging.goldenpathidp.io
  path: /
  pathType: Prefix
  tls: true
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-staging

# -----------------------------------------------------------------------------
# Extra Environment Variables
# -----------------------------------------------------------------------------
extraEnvVars:
  - name: KC_HOSTNAME
    value: keycloak.staging.goldenpathidp.io
  - name: KC_HOSTNAME_STRICT
    value: "false"
  - name: KC_HOSTNAME_STRICT_HTTPS
    value: "false"

governance:
  id: HELM_KEYCLOAK_METADATA
  owner: null
  risk_profile: null
  reliability: null
