apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: grafana
  namespace: grafana
spec:
  releaseName: grafana
  chart:
    spec:
      chart: grafana
      version: "6.58.4"
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  interval: 10m
  values:
    adminPassword: "${GRAFANA_ADMIN_PASSWORD:=changeme}"
    service:
      type: ClusterIP
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources: []
