# Managed by scripts/standardize_metadata.py
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: '{{ .Values.appName }}'
  namespace: '{{ .Values.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ .Values.appName }}'
    app.kubernetes.io/instance: '{{ .Values.appName }}'
    app.kubernetes.io/managed-by: argocd
    app.kubernetes.io/version: '{{ .Values.appVersion }}'
    platform.goldenpath.dev/team: '{{ .Values.team }}'
    platform.goldenpath.dev/env: '{{ .Values.env }}'
    platform.goldenpath.dev/build-id: '{{ .Values.buildId }}'
  annotations:
    goldenpath.idp/id: APPS_TEMPLATES_METADATA
    goldenpath.idp/owner: None
spec:
  serviceName: '{{ .Values.appName }}'
  replicas: '{{ .Values.replicas }}'
  selector:
    matchLabels:
      app.kubernetes.io/name: '{{ .Values.appName }}'
  template:
    metadata:
      labels:
        app.kubernetes.io/name: '{{ .Values.appName }}'
        app.kubernetes.io/instance: '{{ .Values.appName }}'
        app.kubernetes.io/version: '{{ .Values.appVersion }}'
        platform.goldenpath.dev/team: '{{ .Values.team }}'
        platform.goldenpath.dev/env: '{{ .Values.env }}'
        platform.goldenpath.dev/build-id: '{{ .Values.buildId }}'
    spec:
      serviceAccountName: '{{ .Values.serviceAccountName }}'
      terminationGracePeriodSeconds: 30
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: '{{ .Values.appName }}'
          image: '{{ .Values.appImage }}'
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: '{{ .Values.appPort }}'
          env:
            - name: ENV
              value: '{{ .Values.env }}'
          resources:
            requests:
              cpu: '{{ .Values.cpuRequest }}'
              memory: '{{ .Values.memoryRequest }}'
            limits:
              cpu: '{{ .Values.cpuLimit }}'
              memory: '{{ .Values.memoryLimit }}'
          volumeMounts:
            - name: data
              mountPath: /data
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: '{{ .Values.storageClassName }}'
        resources:
          requests:
            storage: '{{ .Values.storageSize }}'
