# Managed by scripts/standardize-metadata.py
appConfig:
  catalog:
    locations:
      - type: url
        target: https://raw.githubusercontent.com/mikeybeezy/goldenpath-idp-infra/main/backstage/templates/ci-apply-dev/template.yaml
        rules:
          - allow:
              - Template
      - type: url
        target: https://raw.githubusercontent.com/mikeybeezy/goldenpath-idp-infra/main/backstage/templates/app-template/template.yaml
        rules:
          - allow:
              - Template
governance:
  id: HELM_BACKSTAGE
  owner: platform-team
  risk_profile:
    production_impact: medium
    security_risk: low
    coupling_risk: medium
  reliability:
    rollback_strategy: git-revert
    observability_tier: silver
