# Values overrides for backstage in staging environment
appConfig:
  catalog:
    locations:
      - type: url
        target: https://raw.githubusercontent.com/mikeybeezy/goldenpath-idp-infra/main/backstage/templates/ci-apply-dev/template.yaml
        rules:
          - allow: [Template]
