apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: apps-sample-stateless
resources:
  - namespace.yaml
  - serviceaccount.yaml
  - rbac.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - servicemonitor.yaml
  - networkpolicy.yaml
  - dashboards/configmap-dashboard.yaml
