# Backstage Catalog Configuration Override
# Use this file to point Backstage to the Golden Path catalog with ECR entities

catalog:
  # Update this to point to your GitHub repository
  catalogLocation: "https://raw.githubusercontent.com/mikeybeezy/goldenpath-idp-infra/main/backstage-helm/catalog/all.yaml"
  customCatalogLocation: "None"

backstage:
  baseURL: "http://localhost"

appConfig: |
  organization:
    name: GoldenPath IDP

  app:
    title: GoldenPath IDP Backstage
    baseUrl: ${BASE_URL}:7007

  backend:
    baseUrl: ${BASE_URL}:7007
    listen: ':7007'

    reading:
      allow:
        - host: raw.githubusercontent.com
        - host: '*.githubusercontent.com'
        - host: github.com

    database:
      client: pg
      connection:
        host: ${POSTGRES_HOST}
        port: ${POSTGRES_PORT}
        user: ${POSTGRES_USER}
        password: ${POSTGRES_PASSWORD}

  integrations:
    github:
      - host: github.com
        token: ${GITHUB_TOKEN}
  auth:
    providers: {}

  scaffolder:
    allowedActions:
      - fetch:plain
      - command:execute
      - publish:github:pull-request
      - github:actions:dispatch
      - debug:log

  techdocs:
    builder: 'local'
    generator:
      runIn: 'local'
    publisher:
      type: 'local'

  scorecards:
    test: none

  catalog:
    locations:
    - type: url
      target: "https://raw.githubusercontent.com/mikeybeezy/goldenpath-idp-infra/main/backstage-helm/catalog/all.yaml"
      rules:
      - allow: [Component, System, API, Resource, Location, Template, Domain, Group, User] # [ADR-0130] Trusted Zone
    - type: url
      target: ${CUSTOM_CATALOG_LOCATION}
      rules:
      - allow: [Component, System, API, Resource, Location, Template, Domain, Group, User]
    import:
      entityFilename: catalog-info.yaml
      pullRequestBranchName: backstage-integration
    processingInterval: { seconds: 30 }
    refreshInterval: { seconds: 60 }
    rules:
      - allow: [Component, System, API, Resource, Location, Template, Domain, Group, User] # [ADR-0130] Global Sandbox

  kubernetes:
    serviceLocatorMethod:
      type: 'multiTenant'
    clusterLocatorMethods:
      - type: 'config'
        clusters:
          - url: kubernetes.default.svc.cluster.local:443
            name: local
            authProvider: 'serviceAccount'
            skipTLSVerify: false
            skipMetricsLookup: true

# Database connection
postgres:
  port: "5432"
  host: backstage-rw
  user: app
  password: password

github:
  accessToken: ""
