apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  releaseName: alertmanager
  chart:
    spec:
      chart: alertmanager
      version: "1.7.0"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  interval: 10m
  values:
    config:
      global:
        resolve_timeout: 5m
      route:
        receiver: default
      receivers:
        - name: default
