name: Super Linter (Markdown)

on:
  pull_request:
    paths:
      - "docs/**"
      - ".github/workflows/super-linter.yml"
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - ".github/workflows/super-linter.yml"

jobs:
  super-linter:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      statuses: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Super Linter
        uses: github/super-linter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BRANCH: main
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_MARKDOWN: true
